/* TypingEffect.css */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline; /* Keep the cursor inline with the text */
  animation: blink 1s infinite;
}

.typing-effect {
  display: block; /* Allows for the container to expand as needed */
  justify-content: center;
  align-items: center;
  white-space: pre-wrap; /* Allows text wrapping and preserves formatting */
  word-break: break-word; /* Ensures long words do not overflow the container */
}

.visible {
  opacity: 1;
}
