/* TypingEffect.css */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline;
  animation: blink 1s infinite;
}

.typing-effect {
  display: block;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
}

.visible {
  opacity: 1;
}
