:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #3b3b3b; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

body {
  flex-direction: column;
  background: 	#141414; /* Set the default background to black */
  background-image: radial-gradient(circle at center, rgba(0, 0, 255, 0.1) 0%, rgba(0, 0, 255, 0.05) 50%, rgba(0, 0, 255, 0) 100%);
}

#Container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.light-mode {
  flex-direction: column;
  background: white; /* Light gray background for light mode */
  background-image: radial-gradient(circle at center, rgba(135, 206, 235, 0.4) 0%, rgba(255, 100, 0, 0.05) 50%, rgba(255, 100, 0, 0) 100%);
  color: #000000; /* Dark text for better readability in light mode */
}

.dark-mode {
  flex-direction: column;
  background: #141414; /* Dark background */
  background-image: radial-gradient(circle at center, rgba(0, 0, 255, 0.1) 0%, rgba(0, 0, 255, 0.05) 50%, rgba(0, 0, 255, 0) 100%);
  color: #ffffff; /* Light text for better readability in dark mode */
}

.Lightswitch {
  position: fixed;
  z-index: 10;
}

.Lightswitch img {
  width: 50px;
  height: 50px; 
  margin: 0.5%;
  height: 6vh;
  cursor: pointer; 
}


a {
  font-size: 26px;
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column; /* Ensures the children are stacked vertically */
  justify-content: center;
  align-items: center;
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}


#introduction, #about {
  display: flex; /* Makes the div a flex container */
  flex-direction: column; /* Aligns children vertically */
  align-items: center; /* Centers children horizontally */
  width: 100vw; /* Takes up the full width of the parent */
  overflow: hidden;
}

#introduction, .aboutMe {
  height: auto;
  justify-content: center; /* Centers children vertically */
  font-size: 70px;
  font-weight: bold;
}

#introduction {
  flex-direction: column;
  text-align: left;
  margin-bottom: -1%;
  line-height: 1.25;
}

.aboutMe {
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}


#aboutText {
  width:60vw;
  text-align: start;
}

#name {
  font-size: 100px;
  font-weight: bold;
}

#about {
  height: 20vh;
  align-items: center;
  justify-content: start;
  text-align: start;
  font-size: 28px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.information {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  gap: 10%;
  margin-bottom: 5%; 
  bottom: 0;
  flex-wrap: wrap;
}

.bubbles {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
}


.bubbles span {
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
              0 0 50px #4fc3dc,
              0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
              0 0 50px #ff2d75,
              0 0 100px #ff2d75;
}

.light-mode .bubbles span {
  background: #dabeff; /* Light purple bubbles for light mode */
  box-shadow: 0 0 0 10px #dabeff44,
              0 0 50px #dabeff,
              0 0 100px #dabeff;
}

.light-mode .bubbles span:nth-child(even) {
  background: #ffd700; /* Yellow bubbles for light mode */
  box-shadow: 0 0 0 10px #ffd70044,
              0 0 5cap #ffd700,
              0 0 100px #ffd700;
}



@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0.1);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

#info {
  padding-left: 0;
  width: 60vw;
  justify-content: start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#aboutParagraph {
  justify-content: start;
  max-width: 60vw;
  font-size: 28px;
  line-height: 1.5em;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 2%;
}

.pdf-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100%; /* 100% of the viewport width */
  overflow: hidden; /* Hide scrollbars */
  background: black;
}


/* Media queries for mobile devices */
@media (max-width: 768px) { /* Adjusts styles for screens smaller than 768px */
  #Container {
    overflow: visible !important;
  }

  .mainWrapper {
    overflow: visible !important;
  }

  #introduction, .aboutMe {
    height: 55vh;
    font-size: 50px; /* Smaller font size for mobile devices */
    font-weight: bold;
    justify-content: center; /* Centers children vertically */
    max-width: 95vw;
  }

  #aboutText {
    height: 10vh;
  }

  #paragraph {
    font-size: 14px;
  }

  #about {
    font-size: 16px; /* Smaller font size for mobile devices */
    padding: 10px; /* Add some padding to ensure text doesn't touch the edges */
    height: 7vh;
  }

  #notName {
    font-size: 32px;
  }

  #name {
    font-size: 80px;
    font-weight: bold;
  }
  
  .information {
    display: grid !important; /* Switches to grid layout for better alignment control */
    grid-template-columns: repeat(2, 1fr); /* Each link takes full width */
    gap: 20px; /* Adjust gap for visual separation */
    padding: 20px; /* Increased padding for better touch interaction */
    justify-items: center; /* Centers items horizontally */
    text-align: center; /* Ensures text within each link is centered */
  }

  /* Alternatively, if sticking with Flexbox: */
  .information {
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: start; /* Aligns items to the start of the flex container */
    gap: 20px; /* Adds space between each link */
    padding: 20px; /* Adjusts padding for better layout on mobile */
  }

  /* Adjusting text size for readability on mobile */
  .information a {
    font-size: 18px; /* Larger font size for easier readability */
  }
  
  /* Ensuring buttons and links are easily tappable */
  .information button {
    padding: 12px 24px; /* Larger touch targets for mobile users */
  }

  .bubbles {
    overflow: visible !important;
    position: fixed;
  }

  .bubbles span {
    position: relative;
    width: 15px;
    height: 15px;
    background: #4fc3dc;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #4fc3dc44,
                0 0 30px #4fc3dc,
                0 0 70px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
  
  .bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 6px #ff2d7544,
                0 0 30px #ff2d75,
                0 0 70px #ff2d75;
  }

  .light-mode .bubbles span {
    background: #dabeff; /* Light purple bubbles for light mode */
    box-shadow: 0 0 0 6px #dabeff44,
                0 0 30px #dabeff,
                0 0 70px #dabeff;
  }
  
  .light-mode .bubbles span:nth-child(even) {
    background: #ffd700; /* Yellow bubbles for light mode */
    box-shadow: 0 0 0 6px #ffd70044,
                0 0 30px #ffd700,
                0 0 70px #ffd700;
  }
}